<h1>Bonjour {{ pseudo }} !</h1>
<p>
    Vous venez de vous créer un compte sur le blob de Flow.
</p>
<p>
    pour confirmer votre adresse mail et ainsi avoir accès à toute les fonctionnalités du blog, cliquez sur le lien suivant :
</p>
<p>
    <a href="http://localhost:3000/confirm-email/{{id}}">Activer mon compte</a>
</p>