.button {
    box-sizing: border-box;
    margin: 10px 0;
}

#photo {
    max-width: 200px;
}

@media screen and (min-width: 1000px) {
    .button-container {
        margin: 40px 120px;
        display: flex;
        justify-content: space-between;
    }

    .button {
        flex-basis: 30%;
    }
}